@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffc87c;
    /* padding: 2px 8px; */
    /* position: fixed; */
}

header a{
    text-decoration: none;
    color: #fff;
}

nav{
    /* list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 14px;
    padding-right: 14px;
    position: fixed;
    top: 0;
    background-color: #ffc87c;
    margin: 0;
    /* margin-bottom: 100px; */
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
    justify-items: center;
    align-items: center;
}
nav ul div{
    display: block;
    height: 12px;
    width: 0.5px;
    border: 1px solid #fff;
}
nav ul li{
    padding: 6px 12px;
    border-radius: 5px;
}
nav ul li:hover{
    background-color: #e0b982;
    transform: scale(1.07);
}
nav button{
    font-size: 14px;
    padding: 7px 14px;
    background: transparent;
    border: 2px solid white;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 30px;
}
nav button:hover{
    transform: scale(1.05);
}

footer, .footer{
    background-color: darkorchid;
    padding: 20px 8px;
    display: flex;
    /* flex-direction: row;
    justify-content:flex-start;
    align-items: center; */
    /* justify-content: space-evenly; */
    gap: 100px ;
    position: relative;
    color: #fff;
}

footer h3, .footer h3{
    text-align: center;
}

footer a, .footer a{
    text-decoration: none;
    color: #fff;
}
footer ul, .footer ul{
    list-style-type: none; 
    font-size: small;
    margin-top: -10px;
}
footer li:hover {
    text-decoration: underline;
}
footer ul i, .footer ul i{
    margin-right: 3px;
}
/* copy{
    color: #fff;
    text-align: center;
} */
footer p, .footer p{
    position: absolute;
    display: block;
    bottom: 4px;
    left: 560px;
    font-size: small;
}

section{
    background-color:  #8ab4f3;
    padding: 60px 20px;
    margin-top: 3px;
}

section:first-child{
    padding-top: 0;
}

article{
    margin-top: 60px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
}

.email-contact, .contact-message{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 20px;
    width: 100%;
    position: relative;
}

.email-contact label {
    font-size: x-small;
    font-weight: 700;
    padding: 2px;
    position: absolute;
    bottom: 21px;
    background: #fff;
    left: 6px;
}
.contact-message label{
    font-size: x-small;
    font-weight: 700;
    padding: 2px;
    position: absolute;
    top: -10px;
    background: #fff;
    left: 6px;
}

.email-contact input{
    padding: 6px 8px;
    padding-right: 120px;
    border: 0.2px solid #000000;
    border-radius: 3px;
    outline: none;
}
.contact-message textarea{
    border: 0.2px solid #000000;
    border-radius: 3px;
    padding: 8px;
    outline: none;
}
.modal button{
    margin: 3px;
    padding: 8px 12px;
}

#about, #influence, #work, #hero {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    place-items: center; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50vh;
    border-radius: 10px;
}

.intro{
    width: 80%;
    margin: 60px;
    padding: 60px 30px;
}

.him {
    width: 20%;
    margin: 20px;
}


.intro a{
    font-size: 14px;
    padding: 10px 24px;
    background: #b3842b;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}

.intro a:hover{
    background: #e0b982;
}

.intro h2{
    font-weight: 500;
    font-size: 40px;
    color: #000000;
    margin-bottom: 5px;
}

.intro p{
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    margin-bottom: 25px;
}

  
  .wrapper{
    display: flex;
    max-width: 1200px;
    position: relative;
  }
  .wrapper i{
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #ffc87c;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.9);
  }
  .wrapper i:hover{
    background: #ffc87c;
  }
  .wrapper i:first-child{
    left: -22px;
    display: none;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousel.dragging img{
    pointer-events: none;
  }
  .carousel img{
    height: 340px;
    user-select: none;
    margin-left: 14px;
    width: 300px;
  }
  .carousel img:first-child{
    margin-left: 0px;
  }
  
  @media screen and (max-width: 900px) {
    .carousel img{
      width: calc(100% / 2);
    }
  }
  
  @media screen and (max-width: 550px) {
    .carousel img{
      width: 100%;
    }
  }

  .card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 300px;
    height: 400px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
  }
  
  .card-content {
    padding: 20px;
    text-align: center;
  }
  
  .card-content h2 {
    margin-top: -10px;
  }
  
  .card-content button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .card-content button:hover{
    transform: scale(1.05);
  }